        body {
            background-color: hsl(0, 11%, 96%);
        }
        
        #header {
            width: 100%;
            background-color: transparent;
            transition: background ease-out 0.2s;
        }
        
        #banner-principal {
            padding-top: 2%;
        }
        
        #slider {
            margin-top: 8%;
        }
        
        #navbarNav {
            width: auto;
        }
        
        #carousel-test {
            height: 32rem;
            background: #777;
            color: white;
            position: relative
        }
        
        .container {
            position: relative;
            justify-content: center;
            background-color: darkgrey;
        }
        
        #carou #carouselQuiz {
            margin-right: 10%;
            margin-left: 10%;
            border-radius: 5%;
            width: 80%;
        }
        
        .carousel-caption {
            width: 30%;
            height: 70%;
            margin-left: 35%;
            padding: auto;
            text-align: left;
        }
        
        #tituloModalidades {
            text-align: center;
            margin-top: 5%;
        }
        
        #textoModalidades {
            text-align: center;
            margin-top: 2%;
        }
        
        #imgModalidades {
            width: 15%;
            margin-top: 2%;
            margin-left: 1%;
        }
        
        #cardTitle {
            text-align: left;
        }
        
        #cardText {
            text-align: justify;
        }
        
        .card {
            margin-top: 5%;
            border-radius: 3%;
        }
        
        #bancoDeQuestoes {
            margin-top: 3%
        }
        
        #rankinQuiz {
            margin-top: 3%;
        }
        
        #carouselMedalhas {
            margin-top: 3%;
        }
        
        #carousel01 {
            margin-top: 3%;
        }