#faleConosco{
    margin-top: 8%;
    margin-bottom: 3%;
}
#bgCardfaleconosco{    
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px; 
    padding: 3%;  
   
}
#bgCardfaleconosco p{    
    font-size: 15px;
    line-height: 30px;
}


#headerfaleconosco {
    position: fixed;
    top: -2%;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background ease-out 0.2s;
    background:linear-gradient(185.96deg, #24b3Af 73.22%, #b4f3e9 151.7%);
    color: white;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    
}
#footerFaleConosco {
    width: 100%;
    margin-top: 1%;
    padding-left: 5%;
    background-color: #24B3AF;
    color: white;
    text-align: center
}
#listadeduvidas{
margin-top: 8%;
}
#tituloTermosDeUso
{
    margin-top: 10%;
    text-align: center;
    color: white;
    background: #25B4B0;
    border-radius: 24px;
    
}    
#termosDeUso
{
        width: 80%;
        margin-top: 5%;
}
#termosDeUso h5
{
        color: #24B3AF;
}

