#funcardfaleconosco{
    background-color: white;
    width: 80%;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    margin-left: 14%;
}
#cardFaleConosco{
    width: 100%;
    margin-top: 8%;
    background-image: url("/img/Vectordiretito.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 230%;
    
}
#headerfaleconosco {
    position: fixed;
    top: -2%;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background ease-out 0.2s;
    background:linear-gradient(185.96deg, #24b3Af 73.22%, #b4f3e9 151.7%);
    color: white;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    
}
#footerFaleConosco {
    width: 100%;
    margin-top: 1%;
    padding-left: 5%;
    background-color: #24B3AF;
    color: white;
    text-align: center
}
#listadeduvidas{
margin-top: 8%;
}

