#cardFaleConosco{
    margin-top: 8%;
}
#headerfaleconosco {
    position: fixed;
    top: -2%;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background ease-out 0.2s;
    background:linear-gradient(185.96deg, #24b3Af 73.22%, #b4f3e9 151.7%);
    opacity: 0.92;
    color: white;
    
}
#footerFaleConosco {
    width: 100%;
    margin-top: 2%;
    padding-left: 5%;
    background-color: #24B3AF;
    color: white;
    text-align: center
}
#listadeduvidas{
margin-top: 8%;
}