#carouselmedicos {
  width: 90%;
}
#carouselmissao {
  width: 70%;
}

#imgCardmedicos {
  max-height: 200px;
  border-radius: 50%;
  margin: 5%;
}

#imgCardmedMissao {
  max-height: 150px;

}
.legendcontent{
    margin: 5%;

}
.legends{
    background-color:#49C4BE;
    color: #ffffff;
    border-radius: 50%;
    padding-right: 2%;
    padding-left: 2%;
}
#carouselQuiz {
  background-color:#ffffff;
  box-shadow: 15px 45px 55px rgba(229, 233, 246, 0.4); border-radius: 20px;
}
#textCardMedicos{
  margin-right: 15%;
  margin-bottom: 5%;
}
#textCardMissao{
  margin-right: 10%;
  margin-bottom: 5%;
}