    /* Smaller than standard 960 (devices and browsers) */

    @media only screen and (min-width: 959px) {
        p {
            font-size: 14px;
        }

        #cardTermosDeUso {
            width: 80%;
            padding: 4%;
            margin-top: 7%;
            text-align: center;
            color: white;
            background: #25B4B0;
            border-radius: 24px;

        }

        #cardTermosDeUso h1 {
            font-size: 22px;

        }

        #cardTermosDeUso h5 {
            font-size: 16px;

        }

        #termosDeUso {
            width: 80%;

        }

        #termosDeUso h5 {
            color: #24B3AF;
            font-size: 16px;
            ;
        }

        #termosDeUso p {
            font-size: 14px;

        }

        #politicaDePrivacidade {
            margin-top: 6%;
            min-height: 1000px;

        }

        #cardDoTituloPoliticas {
            width: 100%;
            padding: 3%;
            background-color: #25B4B0;
            color: white;
            border-radius: 25px;
            text-align: center;

        }

        .anchor {
            padding-top: 15%;
        }

        #listaPolitica {            
            color: #25B4B0;
            font-weight: bold;
            line-height: 400%;
            background-color: #FFFFFF;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
            border-radius: 24px;
            padding-right: 1%;
        }

        #indice a {
            color: #25B4B0;
        }

        #indice {
            margin-top: 3%;
        }


    }

    @media only screen and (max-width: 959px) {
        p {
            font-size: 14px;
        }
    }

    @media only screen and (max-width: 959px) {
        p {
            font-size: 14px;
        }
    }

    /* Tablet Portrait size to standard 960 (devices and browsers) */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        p {
            font-size: 14px;
        }

        #cardTermosDeUso {
            width: 90%;
            margin-top: 15%;
            text-align: center;
            color: white;
            background: #25B4B0;
            border-radius: 24px;


        }

        #cardTermosDeUso h1 {
            font-size: 22px;

        }

        #cardTermosDeUso h5 {
            font-size: 16px;

        }

        #termosDeUso {
            width: 80%;
            margin-top: 5%;
        }

        #termosDeUso h5 {
            color: #24B3AF;
            font-size: 16px;
            
        }

        #termosDeUso p {
            font-size: 14px;
            
        }
        #politicaDePrivacidade {
            margin-top: 15%;
            

        }
        #politicaDePrivacidade h5{
            font-size: 14px;


        }
        #politicaDePrivacidade h1{
            font-size: 18px;


        }

        #cardDoTituloPoliticas {
            width: 100%;
            padding: 3%;
            background-color: #25B4B0;
            color: white;            
            text-align: center;
            border-radius: 25px;
            
        }


        #listaPolitica {
            position: relative;
            margin-top: 35%;
            color: #25B4B0;
            font-size: 12px;
            background-color: #FFFFFF;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
            border-radius: 24px;
            padding-right: 2%;
            line-height: 30px;
        }

        #indice a {
            color: #25B4B0;
        }

        #indice p {
            font-size: 12px;
        }

        #indice {          
            padding: 5%;
        }      
        .anchor {
            padding-top: 25%;
        }



    }

    /* All Mobile Sizes (devices and browser) */

    @media only screen and (max-width: 767px) {
        p {
            font-size: 14px;
        }
        



    }

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        p {
            font-size: 14px;

        }

        #cardTermosDeUso {
            width: 80%;
            margin-top: 20%;
            text-align: center;
            color: white;
            background: #25B4B0;
            border-radius: 24px;


        }

        #cardTermosDeUso h1 {
            font-size: 22px;

        }

        #cardTermosDeUso h5 {
            font-size: 16px;

        }

        #termosDeUso {
            width: 80%;
            margin-top: 5%;
        }

        #termosDeUso h5 {
            color: #24B3AF;
            font-size: 16px;
            ;
        }

        #termosDeUso p {
            font-size: 14px;
            ;
        }
        




    }

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

    @media only screen and (max-width: 479px) {
        p {
            font-size: 14px;

        }

        .btn-lg,
        .btn-group-lg>.btn {
            font-size: 0.9rem;
            border-radius: 0.3rem;
        }

        #banner-principal {
            margin-top: 15%;
        }

        #carousel01 {
            width: 90%;
        }

        #cardsModalidades {
            width: 100%;
        }

        #CardModalidade {
            box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
            border-radius: 20px;
            width: 100%;
        }

        #imgModalidades {
            width: 30%;
            margin-top: 2%;
            margin-left: 1%;
        }

        #formDuvidas {
            margin-left: 2%;
        }

        #bgCardfaleconosco {
            margin-top: 15%;
            background-color: white;
            width: 100%;
            box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
            border-radius: 20px;
            padding: 3%;
        }

        #titulomedalhas {
            width: 100%;
        }

        #imagemEmail {
            position: absolute;
            z-index: -1;
        }

        #carouselMedalhas {
            width: 100%;
        }
        #carouselPatrocinadores {
            width: 100%;
        }

        #cardTermosDeUso {
            width: 80%;
            margin-top: 20%;
            text-align: center;
            color: white;
            background: #25B4B0;
            border-radius: 24px;


        }

        #cardTermosDeUso h1 {
            font-size: 20px;

        }

        #cardTermosDeUso h5 {
            font-size: 14px;

        }

        #termosDeUso {
            width: 80%;
            margin-top: 5%;
        }

        #termosDeUso h5 {
            color: #24B3AF;
            font-size: 14px;
            ;
        }

        #termosDeUso p {
            font-size: 12px;

        }

        #politicaDePrivacidade {
            margin-top: 5%;

        }
        #politicaDePrivacidade h5{
            font-size: 14px;


        }
        #politicaDePrivacidade h1{
            font-size: 18px;


        }

        #cardDoTituloPoliticas {
            width: 100%;
            padding: 3%;
            background-color: #25B4B0;
            color: white;            
            text-align: center;
            
        }


        #listaPolitica {
            position: relative;
            margin-top: 15%;
            color: #25B4B0;
            font-size: 14px;
            background-color: #FFFFFF;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
            border-radius: 24px;
            padding-right: 1%;
            line-height: 25px;
        }

        #indice a {
            color: #25B4B0;
        }

        #indice p {
            font-size: 12px;
        }

        #indice {          
            padding: 5%;
        }      
        .anchor {
            padding-top: 25%;
        }
        #bannerDuvidas{
            margin-top: 10%;
            margin-right: 5%;
            background-color: #24B3AF;
            padding-top: 10%;
            padding-bottom: 5%; 
            padding-left: 15%;
            align-items:flex-start;
            color: white;
        
        }
        #bannerDuvidas h1{
            font-size: 20px;
        
        }
        #bannerDuvidas h5{
            font-size: 14px;
        
        }




    }