    
    
    
    /* Smaller than standard 960 (devices and browsers) */
    
     @media only screen and (max-width: 959px) {
        p {
            font-size: 14px;
        }
    }
    
    @media only screen and (max-width: 959px) {
        p {
            font-size: 14px;
        }
    }
    /* Tablet Portrait size to standard 960 (devices and browsers) */
    
    @media only screen and (min-width: 768px) and (max-width: 959px) {
        p {
            font-size: 14px;
        }
    }
    /* All Mobile Sizes (devices and browser) */
    
    @media only screen and (max-width: 767px) {
        p {
            font-size: 14px;
        }

       
    }
    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        p {
            font-size: 14px;
            color: royalblue;
        }
      
    }
    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    
    @media only screen and (max-width: 479px) {
        p {
            font-size: 14px;
            
        }
        
        .btn-lg,
        .btn-group-lg>.btn {        
        font-size: 0.9rem;
        border-radius: 0.3rem; 
    }
    #banner-principal {
        margin-top: 15%;
    }
    #carousel01{
        width: 90%;
    }
    #cardsModalidades{
        width: 100%;    
    }
    #CardModalidade{
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;        
        width:100%;    
    }
    #imgModalidades {
        width: 30%;
        margin-top: 2%;
        margin-left: 1%;
    }
    #formDuvidas{
        margin-left:2%;
    }

    }
  